<div class="container">
  <form id="form" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">姓名</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="請輸入你的姓名..." required>
      {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>