.errorMessage {
  display: none;
  color: red;
}

.okMessage {
  display: none;
  color: green;
}

form.was-validated #passwordLength:valid {
  border: 1px solid green;
}

form.was-validated #passwordLength:invalid {
  border: 1px solid red;
}

form.was-validated #passwordLength:invalid ~ .errorMessage {
  display: initial;
}

form.was-validated #passwordLength:valid ~ .okMessage {
  display: initial;
}